
### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
slackbot
*.db
/vendor/
/Godeps/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Intellij ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/saveactions_settings.xml
.idea/**/slackbot.iml
.idea/**/replstate.xml
.idea/**/modules.xml
.idea/**/misc.xml
.idea/**/vcs.xml
.idea/**/sonarlint
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea_modules/
out/


# CMake
cmake-build-*/

# File-based project format
*.iws


# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# End of https://www.gitignore.io/api/go,intellij
